{% extends "base.html" %}

{% block title %}
Crear Producto
{% endblock title %}

{% block content %}
<h1>Formulario de producto</h1>
<div class="container-sm">
  <form action="{% url 'crear' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre Producto</label>
      <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" class="form-control" id="precio" name="precio" min="0" step="0.1">
    </div>
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" class="form-control" id="stock" name="stock" min="0">
    </div>
    <div class="mb-3">
      <label for="categoria" class="form-label">Categoria</label>
      <select class="form-select" name="categoria" aria-label="Default select example" required>
        <option selected value="">Seleccione una categoria</option>
        {% for categoria in categorias  %}
          <option value="{{categoria.id}}">{{categoria.nombre_categoria}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}