{% extends "base.html" %}

{% block title %}
  Crear Categoria
{% endblock title %}

{% block content %}
    <h1>Formulario de Categoria</h1>
    <div class="container-sm" >
        <form action="{% url 'crear_categoria' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre Categoria</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
{% endblock content %}